html, body{
  padding: 0px;
  margin: 0px;
  width:100%;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  /*font-family: Alright Sans Regular, Arial, Helvetica, sans-serif;*/
  font-family: Helvetica, Arial, sans-serif;
}

.center{
  z-index: -50;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 70vh;
  width: 870px;
  height: 600px;
  top: 6em;
  /*background-color: gray;*/
}


/*.video{*/
  /*z-index: 100000;*/
  /*position: absolute;*/
  /*width:100%;*/
  /*height: 100%;*/
  /*top: 0px;*/
  /*left:0px;*/
  /*display: none;*/

/*}*/


/*iframe{*/
  /*z-index: 100000;*/
  /*position: absolute;*/
  /*width:100%;*/
  /*height: 100%;*/
  /*top: 0px;*/
  /*left:0px;*/
  /*!*display: none;*!*/
  /*!*visibility: hidden;*!*/

/*}*/

.phone{
  z-index: 2005;
  margin-left: 2.5vw;
  margin-top: 5vh;
  /*display: none;*/
  /*width:258px;*/
  /*height: 526px;*/
  /*position: absolute;*/
}

.screens{
  z-index: 3000;
  position: absolute;
  margin-left: 17px;
  margin-top: 60px;
  /*left: 67px;*/
  /*top: 109px;*/
}


.infoblock{
  position: absolute;
  /*background-color: green;*/
  right: 2vw;
  top:  80px;
  width: 520px;
  height: 400px;
}

.title{
  margin-top: 75px;
  font-size: 36px;
  color:#3D3633;
  font-weight: bold;
}

.subtitle{
  margin-top: 6px;
  font-size: 24px;
  color:#3D3633;
}

.buttons{
  /*position: absolute;*/
  /*background-color: orange;*/
  width: 550px;
  height: 100px;
  margin-top: 55px;
  /*left: 340px;*/
  /*top:305px;*/
  z-index: 10000;
}

.videobutton{
  margin-left: 15px;
  cursor: pointer;
}


.videowrapper{
  /*display: none;*/
  /*visibility: hidden;*/
  width: 750px;
  height: 422px;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  /*border:1px solid black;*/
  /*z-index: 100000;*/
  /*background-color: black;*/
  /*z-index: -20000;*/
}


.fb-video{
  z-index: -20000;
  /*display: none;*/
  /*visibility: hidden;*/
}


.videobg{
  display: none;
  background-color: black;
  opacity: 0.5;
  padding: 0px;
  margin: 0px;
  width:100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: -45;
}


footer{
  position: fixed;
  bottom: 10px;
  font-size: 12px;
  z-index: 100000000;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  color:#484848;
}

.credits a {
  color:#484848;
  text-decoration: none;
}

.credits a:hover {
  color:black;
  border-bottom: 1px solid black;
}


.whiteoverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: 102;*/
  opacity: 0.4;
  background-color: white;
  z-index: -100;

}

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*background-color: red;*/
  z-index: -1000;
}












@media screen and (max-width: 1024px) {



  .center{
    z-index: -50;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 70vh;
    width: 800px;
    top: 3em;
    background-color: gray;
    /*opacity: 0.4;*/
  }



  .phone{
    z-index: 2005;
    /*display: none;*/
    /*width:258px;*/
    /*height: 526px;*/
    position: static;
    margin-left: 35px;
    margin-top: 50px;
  }


  .screens{
    z-index: 3000;
    position: absolute;
    left: 52px;
    top: 109px;
    /*border: 1px solid red;*/
  }

  /*.screens01{*/
    /*z-index: 3000;*/
    /*position: absolute;*/
    /*left: 52px;*/
    /*top: 109px;*/
    /*!*border: 1px solid red;*!*/
  /*}*/




  .textblock{
    position: absolute;
    /*background-color: green;*/
    left: 310px;
    top:130px;
    width: 550px;
    height: 200px;
  }


  .title{
    font-size: 32px;
  }
  .subtitle{
    font-size: 23px;
   }



  .buttons{
    position: absolute;
    /*background-color: orange;*/
    width: 550px;
    height: 100px;
    left: 320px;
    top: 275px;
  }

footer{
  font-size: 13px;
  bottom: 18px;
}



}















