html, body{
  padding: 0px;
  margin: 0px;
  width:100%;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  /*font-family: Alright Sans Regular, Arial, Helvetica, sans-serif;*/
  font-family: Helvetica, Arial, sans-serif;
}

.center{
  z-index: -50;
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-height: 70vh;
  width: 900px;
  top: 6em;
  /*background-color: gray;*/
  /*opacity: 0.4;*/
}


/*.video{*/
  /*z-index: 100000;*/
  /*position: absolute;*/
  /*width:100%;*/
  /*height: 100%;*/
  /*top: 0px;*/
  /*left:0px;*/
  /*display: none;*/

/*}*/


/*iframe{*/
  /*z-index: 100000;*/
  /*position: absolute;*/
  /*width:100%;*/
  /*height: 100%;*/
  /*top: 0px;*/
  /*left:0px;*/
  /*!*display: none;*!*/
  /*!*visibility: hidden;*!*/

/*}*/



.phone{
  z-index: 2005;
  /*display: none;*/
  /*width:258px;*/
  /*height: 526px;*/
  position: absolute;
  left: 50px;
  top: 50px;
}


.screens{
  z-index: 3000;
  position: absolute;
  left: 67px;
  top: 109px;
  /*border: 1px solid red;*/
}


.textblock{
  position: absolute;
  /*background-color: green;*/
  left: 340px;
  top:160px;
  width: 550px;
  height: 200px;
}

.title{
  margin-top: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  color:#3D3633;
  font-weight: bold;
}

.subtitle{
  margin-top: 6px;
  font-size: 24px;
  color:#3D3633;
}

.buttons{
  position: absolute;
  /*background-color: orange;*/
  width: 550px;
  height: 100px;
  left: 340px;
  top:305px;
}

.videobutton{
  margin-left: 15px;
  cursor: pointer;
}


.videowrapper{
  /*display: none;*/
  /*visibility: hidden;*/
  width: 750px;
  height: 422px;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  /*border:1px solid black;*/
  /*z-index: 100000;*/
  /*background-color: black;*/
}


.fb-video{
  z-index: -20000;
  /*display: none;*/
  /*visibility: hidden;*/
}


.videobg{
  display: none;
  background-color: black;
  opacity: 0.5;
  padding: 0px;
  margin: 0px;
  width:100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: -45;
}




/*.videowrapperappear{*/
/*!*display: none;*!*/
/*!*visibility: hidden;*!*/
/*width: 750px;*/
/*height: 422px;*/
/*margin: auto;*/
/*position: fixed;*/
/*top: 0; left: 0; bottom: 0; right: 0;*/
/*border:1px solid black;*/
/*z-index: 100000;*/
/*}*/


/*.videobgappear{*/
/*!*display: none;*!*/
/*!*visibility: hidden;*!*/
/*background-color: black;*/
/*opacity: 0.5;*/
/*padding: 0px;*/
/*margin: 0px;*/
/*width:100%;*/
/*height: 100%;*/
/*position: fixed;*/
/*top: 0; left: 0; bottom: 0; right: 0;*/
/*z-index: -45;*/
/*}*/





footer{
  position: fixed;
  bottom: 10px;
  font-size: 12px;
  z-index: 100000000;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  color:#484848;
}

.credits a {
  color:#484848;
  text-decoration: none;
  /*border-bottom: 1px solid #484848;*/
}

.credits a:hover {
  color:black;
  border-bottom: 1px solid black;
}


.whiteoverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: 102;*/
  opacity: 0.4;
  background-color: white;
  z-index: -100;

}

#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*background-color: red;*/
  z-index: -1000;
}












@media screen and (max-width: 730px) {

html, body{
  padding: 0px;
  margin: 0px;
  width:100%;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  /*display: none;*/

  color:red;
  background-color: red;
  /*font-family: Alright Sans Regular, Arial, Helvetica, sans-serif;*/
  /*font-family: Helvetica, Arial, sans-serif;*/
  /*font-family: Times New Roman;*/

}


  .textblock{
    position: absolute;
    background-color: green;
    left: 340px;
    top:160px;
    width: 550px;
    height: 200px;
  }








}



/*@font-face {*/
/*font-family: 'Alright Sans Regular';*/
/*src: url('/fonts/AlrightSans-Regular.eot'); !* IE9 Compat Modes *!*/
/*src: url('/fonts/AlrightSans-Regular.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*url('/fonts/AlrightSans-Regular.woff') format('woff'), !* Modern Browsers *!*/
/*url('/fonts/AlrightSans-Regular.ttf')  format('truetype'), !* Safari, Android, iOS *!*/
/*url('/fonts/AlrightSans-Regular.svg#20e3d7615045d60b109d61b49c48515c') format('svg'); !* Legacy iOS *!*/

/*font-style:   normal;*/
/*font-weight:  400;*/
/*}*/

/*@font-face {*/
/*font-family: 'Alright Sans Bold';*/
/*src: url('/fonts/AlrightSans-Bold.eot'); !* IE9 Compat Modes *!*/
/*src: url('/fonts/AlrightSans-Bold.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*url('/fonts/AlrightSans-Bold.woff') format('woff'), !* Modern Browsers *!*/
/*url('/fonts/AlrightSans-Bold.ttf')  format('truetype'), !* Safari, Android, iOS *!*/
/*url('/fonts/AlrightSans-Bold.svg#c127e502a0b04548e67202ca5a8151c4') format('svg'); !* Legacy iOS *!*/

/*font-style:   normal;*/
/*font-weight:  700;*/
/*}*/














